<panel>
    <form class="row">
      <input-label class="col-3"
                   [type]="'text'"
                   [labelValue]="'Email'">
      </input-label>
      <input-label class="col-3"
                   [type]="'password'"
                   [labelValue]="'Senha'">
      </input-label>
    </form>
  <panel class="col-12" [header]="'Teste painel dentro do painel'">
    <input-label class="col-3"
                 [type]="'password'"
                 [labelValue]="'Senha'">
    </input-label>
    <input-label class="col-3"
                 [type]="'password'"
                 [labelValue]="'Senha'">
    </input-label>
    <input-label class="col-3"
                 [type]="'password'"
                 [labelValue]="'Senha'">
    </input-label>
  </panel>
</panel>
