/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";

$system-font-color: #2196f3;
$system-negative-font-color: #cc0d45;

body {
  background: #f4f4f4;
}
